<!--Main Page-->
<div class="main-page">

    <!--Header Page-->
    <div class="header-page">
        <mat-toolbar>
            <mat-icon style="font-size: 20px; margin-left: 170px;">done</mat-icon>
            <h1 style="margin-left: 5px;">Free Shipping On All Orders Over $50 </h1>
            <div class="space"></div>

            <h1>Eng</h1> <mat-icon style="margin-right: 15px;">keyboard_arrow_down</mat-icon>

            <h1 style="margin-right: 15px;">Faqs</h1>
            <mat-icon style="font-size: 20px;">info</mat-icon>
            <h1 style="margin-right: 150px;"> Need Help</h1>

        </mat-toolbar>
    </div>
    <div class="comforty">
        <div class="icon">
            <img src="./assets/images/Logo Icon.png" alt="" height="35px">
            <h1 style="margin-left: 10px;">Comforty</h1>
            <input type="text" placeholder="Search here..."> <button
                style="  border-radius: 0px 15px 15px 0px;"><mat-icon>search</mat-icon></button>
            <div style="display: flex; margin-left: 150px; margin-top: 5px;">
                <button mat-raised-button> <mat-icon>add_shopping_cart</mat-icon> Cart <button
                        style="background-color:blue; color: #fff; margin-left: 10px; border-radius: 50%;">2</button></button>
                <button mat-raised-button style="margin-left: 10px;"><mat-icon>favorite_border</mat-icon></button>

                <button mat-raised-button style="margin-left: 10px;"> <a href="./login" style="color:black;"><mat-icon>person_outline</mat-icon></a> </button>
            </div>
        </div>

    </div>

    <div class="menu-page">
        <button mat-raised-button><mat-icon>menu</mat-icon> All Categories</button>
        <button mat-button>Home</button>
        <button mat-button>Shop</button>
        <button mat-button>Product</button>
        <button mat-button>Pages</button>
        <button mat-button>About</button>
        <h1>Contact:(808)555-0111</h1>
    </div>
    <hr>
    <div class="furniture">

        <div class="card">

            <div id="demo" class="carousel slide">


                <div class="carousel-inner">

                    <div class="carousel-item">

                        <p style="text-transform: uppercase; margin-top: 200px; margin-left: 7rem;">welcome to chairy
                        </p>
                        <h1 style="margin-left: 7rem; font-size: 60px;line-height: 1.1;">Best Furniture <br>
                            Collection For Your <br>
                            Interior.
                        </h1>
                        <button mat-flat-button
                            style="margin-left: 7rem; background-color: rgb(28, 142, 235); color: #fff;">Shop Now
                            <button mat-button><mat-icon style="color: #fff;">arrow_forward</mat-icon>
                            </button></button>

                        <div class="round-cricle">
                            <h1></h1>

                        </div>
                        <div class="product-image">
                            <img src="./assets/images/Product Image.png" alt="" width="320px">
                        </div>
  <div style="margin-left: 61rem;margin-top: -29rem; margin-bottom: 400px;">
                            <button style="border-radius: 50px; border: 1px solid #fff; background-color: #fff;">
                                <h1 style="font-size: 18px; color: red;">54% <br> <a href="#" style="font-size: 15px; text-decoration: none;color: black;">Discount</a></h1>
                            </button>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <p style="text-transform: uppercase; margin-top: 200px; margin-left: 7rem;">welcome to chairy
                        </p>
                        <h1 style="margin-left: 7rem; font-size: 60px;line-height: 1.1;">Best Furniture <br>
                            Collection For Your <br>
                            Interior.
                        </h1>
                        <button mat-flat-button
                            style="margin-left: 7rem; background-color: rgb(28, 142, 235); color: #fff;">Shop Now
                            <button mat-button><mat-icon style="color: #fff;">arrow_forward</mat-icon>
                            </button></button>
                        <div class="round-cricle">
                            <h1></h1>
                        </div>
                        <div class="product-image">
                            <img src="./assets/images/Product Image.png" alt="" width="320px">
                        </div>
                        <div style="margin-left: 61rem;margin-top: -29rem; margin-bottom: 400px;">
                            <button style="border-radius: 50px; border: 1px solid #fff; background-color: #fff;">
                                <h1 style="font-size: 18px; color: red;">54% <br> <a href="#" style="font-size: 15px; text-decoration: none;color: black;">Discount</a></h1>
                            </button>
                        </div>
                    </div>


                    <div class="carousel-item active">
                        <p style="text-transform: uppercase; margin-top: 200px; margin-left: 7rem;">welcome to chairy
                        </p>
                        <h1 style="margin-left: 7rem; font-size: 60px;line-height: 1.1;">Best Furniture <br>
                            Collection For Your <br>
                            Interior.
                        </h1>
                        <button mat-flat-button
                            style="margin-left: 7rem; background-color: rgb(28, 142, 235); color: #fff;">Shop Now
                            <button mat-button><mat-icon style="color: #fff;">arrow_forward</mat-icon>
                            </button></button>
                        <div class="round-cricle">
                            <h1></h1>
                        </div>
                      
                        <div class="product-image">

                            <img src="./assets/images/Product Image.png" alt="" width="320px">

                        </div>
                        <div style="margin-left: 61rem;margin-top: -29rem; margin-bottom: 400px;">
                            <button style="border-radius: 50px; border: 1px solid #fff; background-color: #fff;">
                                <h1 style="font-size: 18px; color: red;">54% <br> <a href="#" style="font-size: 15px; text-decoration: none;color: black;">Discount</a></h1>
                            </button>
                        </div>
                    </div>
                 
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span
                        style="background-color:#fff; color: aqua; border-radius: 50%;padding: 10px; margin-right: 100px;  margin-top: 200px;"><mat-icon>arrow_back</mat-icon></span>

                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span
                        style="background-color:#fff; color: aqua; border-radius: 50%;padding: 10px; margin-top: 200px;"><mat-icon>arrow_forward</mat-icon></span>
                </button>
            </div>
            <div style="margin-left: 37rem; padding: 60px;">

                <button style="border-radius: 50%;" data-bs-slide-to="0" class="active"></button>
                <button style="border-radius: 50%; margin-left: 5px;" data-bs-slide-to="1"></button>
                <button style="border-radius: 50%; margin-left: 5px;" data-bs-slide-to="2"></button>

            </div>

        </div>
    </div>

    <mat-card
        style="width: 80%; margin-left: 9rem; margin-top: -50px; height: 100px;background-color: #fff; box-shadow: 10px 10px 10px 3px rgb(219, 219, 219);">
        <div style="display: flex; justify-content: space-around; margin-top: 20px;">
            <div>

                <h1 style="font-size: 17px;"> <img src="./assets/images/Group.png" alt=""
                        style="margin-top: 10px; width: 30px; height: 30px;"> Discount</h1>
                <p style="margin-left: 40px; margin-top: -30px; font-size: 10px;">Every week new sales</p>
            </div>
            <div>

                <h1 style="font-size: 17px;"><img src="./assets/images/delivery-truck.png" alt=""
                        style="margin-top: 10px; width: 30px; height: 30px; "> Free Delivery</h1>
                <p style="margin-left: 35px; margin-top: -30px;font-size: 10px;">100% Free for all orders</p>
            </div>
            <div>
                <h1 style="font-size: 17px;"> <img src="./assets/images/24-hours.png" alt=""
                        style="margin-top: 10px; width: 30px; height: 30px; "> Great Support 24/7</h1>
                <p style="margin-left: 35px; margin-top: -30px; font-size: 10px;">We care your experiences</p>
            </div>
            <div>

                <h1 style="font-size: 17px;"> <img src="./assets/images/shield.png" alt=""
                        style="margin-top: 10px; width: 30px; height: 30px; "> Secure Payment</h1>
                <p style="margin-left: 30px; margin-top: -30px;font-size: 10px;">100% Secure Payment Method</p>
            </div>
        </div>
    </mat-card>

    <div class="company-names">
        <img src="./assets/company/Logo.png" alt="" width="50px" height="50px">
        <img src="./assets/company/Logo (1).png" alt="" width="50px" height="50px">
        <img src="./assets/company/Logo (2).png" alt="" width="50px" height="50px">
        <img src="./assets/company/Logo (3).png" alt="" width="50px" height="50px">
        <img src="./assets/company/Logo (4).png" alt="" width="50px" height="50px">
        <img src="./assets/company/Logo (5).png" alt="" width="50px" height="50px">
        <img src="./assets/company/Logo (6).png" alt="" width="50px" height="50px">
    </div>

    <div class="featured">
        <div style="display: flex;">
            <h1 style="margin-left: 9rem;">Featured Products</h1>
            <div class="space"> </div>
            <mat-icon
                style="background-color: #11768f; color: #fff; border-radius: 50%; margin-right: 10px;font-size: 23px;">arrow_back</mat-icon>
            <mat-icon
                style="background-color: #d3d4d4; border-radius: 50%;  margin-right: 9rem; font-size: 23px;">arrow_forward</mat-icon>
        </div>
        <div style="display: flex; justify-content: space-around; width: 80%; margin-left: 9rem;">
            <div>
                <img src="./assets/feature-products/Image (11).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none;">Library Stool Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #11768f; color: #fff;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
                <div style="margin-top: -21rem; display: flex; justify-content: space-around;">
                    <button mat-raised-button style="background-color:rgb(19, 180, 19);color: #fff;">New</button>
                    <button mat-raised-button
                        style="margin-left: 10px; border-radius: 10px;"><mat-icon>favorite_border</mat-icon></button>

                </div>
            </div>
            <div>
                <img src="./assets/feature-products/Image (12).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20 <a href="#"
                            style="text-decoration: none;color: #d3d4d4;text-decoration-line: line-through;font-size: 15px;">$30</a>
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
                <div style="margin-top: -21rem;margin-left: 25px;">
                    <button mat-raised-button style="background-color:rgb(248, 98, 43);color: #fff;">Sales</button>
                </div>
            </div>
            <div>
                <img src="./assets/feature-products/Image (13).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none;color: black;">Library Stool
                            Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
            </div>
            <div>
                <img src="./assets/feature-products/Image (14).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="featured">
        <div style="display: flex;">
            <h1 style="margin-left: 9rem;">Top Categories</h1>
            <div class="space"> </div>
            <mat-icon
                style="background-color: #11768f; color: #fff; border-radius: 50%; margin-right: 10px;font-size: 23px;">arrow_back</mat-icon>
            <mat-icon
                style="background-color: #d3d4d4; border-radius: 50%;  margin-right: 9rem; font-size: 23px;">arrow_forward</mat-icon>
        </div>
        <div style="display: flex; justify-content: space-around;">
            <div>
                <img src="./assets/categories/Image (15).png" alt="" width="95%" style="opacity: 0.5;">
                <div class="glass-type">
                    <button>
                        <h1 style="font-size: 18px;">Sofa</h1>
                        <p>3,584 Products</p>
                    </button>
                </div>
            </div>
            <div>
                <img src="./assets/categories/Image (16).png" alt="" width="95%">
                <div class="glass-page">
                    <button>
                        <h1 style="font-size: 18px;">Wing Chair</h1>
                        <p>3,584 Products</p>
                    </button>
                </div>
            </div>
            <div>
                <img src="./assets/categories/Image (17).png" alt="" width="95%">
                <div class="glass-wood">
                    <button>
                        <h1 style="font-size: 18px;">Wooden Chair</h1>
                        <p>3,584 Products</p>
                    </button>
                </div>
            </div>

            <div>
                <img src="./assets/categories/Image (18).png" alt="" width="95%">
                <div class="glass-page">
                    <button>
                        <h1 style="font-size: 18px;">Desk Chair</h1>
                        <p>3,584 Products</p>
                    </button>
                </div>
            </div>

            <div>
                <img src="./assets/categories/Image (19).png" alt="" width="95%" style="opacity: 0.4;">
                <div class="glass-type">
                    <button>
                        <h1 style="font-size: 18px;">Park Chair</h1>
                        <p>3,584 Products</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="our-products">
        <div class="products-btn">
            <h1>Our Products</h1>

            <button style="border-bottom: 5px solid rgb(15, 134, 155);" mat-button>all</button>
            <button mat-button>newest</button>
            <button mat-button>trending</button>
            <button mat-button>best sellers</button>
            <button mat-button>featured</button>

        </div>
        <div style="display: flex; justify-content: space-around; width: 80%; margin-left: 9rem; margin-top: 30px;">
            <div>
                <img src="./assets/our-products/Image (20).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none;">Library Stool Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #11768f; color: #fff;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
                <div style="margin-top: -21rem; display: flex; justify-content: space-around;">
                    <button mat-raised-button style="background-color:rgb(19, 180, 19);color: #fff;">New</button>
                    <button mat-raised-button
                        style="margin-left: 10px; border-radius: 10px;"><mat-icon>favorite_border</mat-icon></button>

                </div>
            </div>
            <div>
                <img src="./assets/our-products/Image (21).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20 <a href="#"
                            style="text-decoration: none;color: #d3d4d4;text-decoration-line: line-through;font-size: 15px;">$30</a>
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
                <div style="margin-top: -21rem;margin-left: 25px;">
                    <button mat-raised-button style="background-color:rgb(248, 98, 43);color: #fff;">Sales</button>
                </div>
            </div>
            <div>
                <img src="./assets/our-products/Image (22).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none;color: black;">Library Stool
                            Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
            </div>
            <div>
                <img src="./assets/our-products/Image (23).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>

            </div>


        </div>
        <div style="display: flex; justify-content: space-around; margin-top: 20px;  width: 80%; margin-left: 9rem;">
            <div>
                <img src="./assets/our-products/Image (24).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none;">Library Stool Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #11768f; color: #fff;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
                <div style="margin-top: -21rem; display: flex; justify-content: space-around;">
                    <button mat-raised-button style="background-color:rgb(19, 180, 19);color: #fff;">New</button>
                    <button mat-raised-button
                        style="margin-left: 10px; border-radius: 10px;"><mat-icon>favorite_border</mat-icon></button>

                </div>
            </div>
            <div>
                <img src="./assets/our-products/Image (25).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20 <a href="#"
                            style="text-decoration: none;color: #d3d4d4;text-decoration-line: line-through;font-size: 15px;">$30</a>
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
                <div style="margin-top: -21rem;margin-left: 25px;">
                    <button mat-raised-button style="background-color:rgb(248, 98, 43);color: #fff;">Sales</button>
                </div>
            </div>
            <div>
                <img src="./assets/our-products/Image (26).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
            </div>
            <div>
                <img src="./assets/our-products/Image (27).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
            </div>


        </div>
    </div>


    <div class="two-card">
        <div style="display: flex; ">
            <h1 style="margin-left: 9rem;margin-top: 100px;">What Client Says About Us</h1>
            <div class="space"> </div>
            <mat-icon
                style="background-color: #11768f; color: #fff; border-radius: 50%; margin-right: 10px;font-size: 23px; margin-top: 100px;">arrow_back</mat-icon>
            <mat-icon
                style="background-color: #d3d4d4; border-radius: 50%;  margin-right: 9rem; font-size: 23px;margin-top: 100px;">arrow_forward</mat-icon>

        </div>

        <div style="display: flex;">
            <mat-card style="width: 38%; margin-left: 9rem;">
                <p
                    style=" margin-left: 50px; margin-top: 30px; border-left: 3px solid rgb(0, 204, 255);padding: 20px; font-size: 16px;line-height: 1.5;">
                    "Lorem Ipsum Dolor Sit Amet,
                    Consectetur Adipiscing Ellt <br>
                    Vivamus Sit Amet Mi Nec Massa Tincidunt Blandit Et Eu Sem. <br> Maecenas Laoreet Ultrices Diam
                    Dignissim Pasшего <br>Aenean Ultrices Dui At Ipsum Sagittis, Pharetra Lacinia <br> Dui Faucibus in
                    Ac Bibendum Ex. Aenean Dolor Masse

                </p>
                <div style="display: flex; justify-content: space-around;">
                    <div style="display: flex; margin-top: 40px;">
                        <img src="./assets/card-icon/Image (28).png" alt="" width="50px" height="50px">
                        <h1 style="font-size: 20px; margin-left: 10px;">Kristin Watson <a href="#"
                                style="text-decoration: none;">
                                <p style="font-size: 15px;color: #d3d4d4;">Fashion Designer</p>
                            </a></h1>

                    </div>
                    <img src="./assets/card-icon/double_quotes_r 1.png" alt="">
                </div>
            </mat-card>
            <mat-card style="width: 38%; margin-left: 3rem;">
                <p
                    style=" margin-left: 50px; margin-top: 30px; border-left: 3px solid rgb(0, 204, 255);padding: 20px; font-size: 16px;line-height: 1.5;">
                    Nullam Seplen Elit, Dignissim Es
                    Viverra Et, Scelerisque Et <br>
                    Fells. Aliquam Egestas Dui Elit, Quis Tincidunt Lacus <br>Aliquam Et. Duis Nulla Velit, Dignissim
                    Lit Odio Ac, <br> Eleifend Luctus Lea. Ut Ac Imperdiet Velit. Aliquam <br> Semper Ex in volutpat
                    Rutrum.</p>
                <div style="display: flex; justify-content: space-around;">
                    <div style="display: flex; margin-top: 40px;">
                        <img src="./assets/card-icon/Image (29).png" alt="" width="50px" height="50px">
                        <h1 style="font-size: 20px; margin-left: 10px;">Kristin Watson <a href="#"
                                style="text-decoration: none;">
                                <p style="font-size: 15px;color: #d3d4d4;">Fashion Designer</p>
                            </a></h1>

                    </div>
                    <img src="./assets/card-icon/double_quotes_r 1.png" alt="">
                </div>
            </mat-card>
        </div>

    </div>

    <div class="recently">
        <div style="display: flex; ">
            <h1 style="margin-left: 9rem;">Recently Added</h1>
            <div class="space"> </div>
            <mat-icon
                style="background-color: #11768f; color: #fff; border-radius: 50%; margin-right: 10px;font-size: 23px;">arrow_back</mat-icon>
            <mat-icon
                style="background-color: #d3d4d4; border-radius: 50%;  margin-right: 9rem; font-size: 23px;">arrow_forward</mat-icon>
        </div>
        <div style="display: flex; justify-content: space-around; width: 80%; margin-left: 9rem;">
            <div>
                <img src="./assets/feature-products/Image (11).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none;">Library Stool Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #11768f; color: #fff;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
                <div style="margin-top: -21rem; display: flex; justify-content: space-around;">
                    <button mat-raised-button style="background-color:rgb(19, 180, 19);color: #fff;">New</button>
                    <button mat-raised-button
                        style="margin-left: 10px; border-radius: 10px;"><mat-icon>favorite_border</mat-icon></button>

                </div>
            </div>
            <div>
                <img src="./assets/feature-products/Image (12).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20 <a href="#"
                            style="text-decoration: none;color: #d3d4d4;text-decoration-line: line-through;font-size: 15px;">$30</a>
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
                <div style="margin-top: -21rem;margin-left: 25px;">
                    <button mat-raised-button style="background-color:rgb(248, 98, 43);color: #fff;">Sales</button>
                </div>
            </div>
            <div>
                <img src="./assets/feature-products/Image (13).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
            </div>
            <div>
                <img src="./assets/feature-products/Image (14).png" alt="" width="95%">
                <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                    <h1 style="font-size: 16px;"><a href="#" style="text-decoration: none; color: black;">Library Stool
                            Chair</a> <br>
                        $20
                    </h1>
                    <button mat-raised-button style="background-color: #f0f1f1;">
                        <mat-icon>add_shopping_cart</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-page">

        <div>

            <h1 style=" font-size: 16px; font-weight: bolder;"> <img src="./assets/images/Logo Icon.png" alt=""
                    height="35px">
                Comforty</h1>
            <p>Vivamus tristique odio site amet velit semper, <br>
                eu posuere turpis interdum <br>
                Cras egestas purus
            </p>
            <div>
                <img src="./assets/media-icons/Group 44.png" alt="">
                <img src="./assets/media-icons/Group 46.png" alt="">
                <img src="./assets/media-icons/Group 47.png" alt="">
                <img src="./assets/media-icons/Group 48.png" alt="">
                <img src="./assets/media-icons/Group 50.png" alt="">
            </div>

        </div>
        <div>
            <h1 style="text-transform: uppercase;opacity: 0.4; font-size: 16px;">category</h1>
            <p> <a href="#" style="text-decoration: none; color:black;">Sofa</a></p>
            <p><a href="#" style="text-decoration: none; color: black;">Armchair</a></p>
            <p><a href="#" style="text-decoration: none; color: black;">Wing Chair</a></p>
            <p><a href="#">Desk Chair</a></p>
            <p><a href="#" style="text-decoration: none; color: black;">Wooden Chair</a></p>
            <p><a href="#" style="text-decoration: none; color: black;">Park Bench</a></p>
        </div>
        <div>
            <h1 style="text-transform: uppercase; opacity: 0.4; font-size: 16px;">support</h1>
            <p> <a href="#" style="text-decoration: none; color:black;">Help & Support</a></p>
            <p><a href="#" style="text-decoration: none; color:black;">Term & Conditions</a></p>
            <p><a href="#" style="text-decoration: none; color:black;">Privacy Policy</a></p>
            <p><a href="#" style="text-decoration: none; color:black;">Help</a></p>

        </div>
        <div>
            <h1 style="text-transform: uppercase;opacity: 0.4; font-size: 16px;">newsletter</h1>
            <input type="text" placeholder="Your email"
                style="padding: 10px 50px 10px 50px; border-radius: 10px;border: 1px solid rgb(236, 234, 234);">
            <button
                style="padding: 10px 25px 10px 25px ; border-radius: 10px; margin-left: 15px; background-color: #11768f; color: #fff; border: 1px solid #11768f;">Subscribe</button>
            <p style="margin-top: 10px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
                Nullam tincidunt erat enim.
            </p>
        </div>

    </div>
    <hr>
    <footer>
        <h1>@ 2024-Blogy-Designed & Develop by Mahendra</h1>
        <img src="./assets/media-icons/images.jpg" alt="" width="300px">
    </footer>
</div>