<!--Main Page-->
<div class="main-page">

    <!--Header Page-->
    <div class="header-page">
        <mat-toolbar>
            <mat-icon style="font-size: 20px; margin-left: 170px;">done</mat-icon>
            <h1 style="margin-left: 5px;">Free Shipping On All Orders Over $50 </h1>
            <div class="space"></div>

            <h1>Eng</h1> <mat-icon style="margin-right: 15px;">keyboard_arrow_down</mat-icon>

            <h1 style="margin-right: 15px;">Faqs</h1>
            <mat-icon style="font-size: 20px;">info</mat-icon>
            <h1 style="margin-right: 150px;"> Need Help</h1>

        </mat-toolbar>
    </div>
    <div class="comforty">
        <div class="icon">
        <a href="./"><img src="./assets/images/Logo Icon.png" alt="" height="35px"></a>
            <h1 style="margin-left: 10px;">Comforty</h1>
            <input type="text" placeholder="Search here..."> <button
                style="  border-radius: 0px 15px 15px 0px;"><mat-icon>search</mat-icon></button>
            <div style="display: flex; margin-left: 150px; margin-top: 5px;">
                <button mat-raised-button> <mat-icon>add_shopping_cart</mat-icon> Cart <button
                        style="background-color:blue; color: #fff; margin-left: 10px; border-radius: 50%;">2</button></button>
                <button mat-raised-button style="margin-left: 10px;"><mat-icon>favorite_border</mat-icon></button>

                <button mat-raised-button style="margin-left: 10px;"> <a href="./login"
                        style="color:black;"><mat-icon>person_outline</mat-icon></a> </button>
            </div>
        </div>

    </div>

    <div class="menu-page">
        <button mat-raised-button><mat-icon>menu</mat-icon> All Categories</button>
        <button mat-button>Home</button>
        <button mat-button>Shop</button>
        <button mat-button>Product</button>
        <button mat-button>Pages</button>
        <button mat-button>About</button>
        <h1>Contact:(808)555-0111</h1>
    </div>
    <hr>

    <div class="card-page">
        <div class="page-btn">
            <button mat-button style="margin-top: 30px;">Home </button>
            <button mat-button style="margin-top: 30px;">Account <mat-icon>keyboard_arrow_right</mat-icon></button>
            <button mat-button style="margin-top: 30px;">Sign In <mat-icon>keyboard_arrow_right</mat-icon></button>
            <h1 style="margin-top: 10px;">Sign In</h1>
        </div>
    </div>

    <div class="form-card">
        <mat-card>
            <h1 style="text-align: center; margin-top: 20px;">Sign In</h1>
            <form>

                <input type="email" placeholder="Email"> <br> <br>
                <input placeholder="Password">

            </form>
            <div class="checkbox">
                <input type="checkbox">
                <p><a href="#" style="text-decoration: none;">Forget Password</a></p>
            </div>
            <button
                style="font-size: 30px; margin-bottom: 10px; padding: 10px 30px 10px 30px; width: 90%; margin-left: 25px;background-color: #11768f; color: #fff; border: 1px solid  #11768f; border-radius: 15px;">Sign
                In <mat-icon>arrow_forward</mat-icon></button>
            <p style="text-align: center;">Don't have account? <a href="#" style="text-decoration: none;">Sign Up</a>
            </p>
        </mat-card>
    </div>
    <hr style="margin-top: 50px;">
    <div class="footer-page">

        <div>

            <h1 style="font-weight: bolder; font-size: 16px;"> <img src="./assets/images/Logo Icon.png" alt=""
                    height="35px">
                Chairy</h1>
            <p>Vivamus tristique odio site amet velit semper, <br>
                eu posuere turpis interdum <br>
                Cras egestas purus
            </p>
            <div>
                <img src="./assets/media-icons/Group 44.png" alt="">
                <img src="./assets/media-icons/Group 46.png" alt="">
                <img src="./assets/media-icons/Group 47.png" alt="">
                <img src="./assets/media-icons/Group 48.png" alt="">
                <img src="./assets/media-icons/Group 50.png" alt="">
            </div>

        </div>
        <div>
            <h1 style="text-transform: uppercase;opacity: 0.4; font-size: 16px;">category</h1>
            <p> <a href="#" style="text-decoration: none; color:black;">Sofa</a></p>
            <p><a href="#" style="text-decoration: none; color: black;">Armchair</a></p>
            <p><a href="#" style="text-decoration: none; color: black;">Wing Chair</a></p>
            <p><a href="#">Desk Chair</a></p>
            <p><a href="#" style="text-decoration: none; color: black;">Wooden Chair</a></p>
            <p><a href="#" style="text-decoration: none; color: black;">Park Bench</a></p>
        </div>
        <div>
            <h1 style="text-transform: uppercase; opacity: 0.4; font-size: 16px;">support</h1>
            <p> <a href="#" style="text-decoration: none; color:black;">Help & Support</a></p>
            <p><a href="#" style="text-decoration: none; color:black;">Term & Conditions</a></p>
            <p><a href="#" style="text-decoration: none; color:black;">Privacy Policy</a></p>
            <p><a href="#" style="text-decoration: none; color:black;">Help</a></p>

        </div>
        <div>
            <h1 style="text-transform: uppercase;opacity: 0.4; font-size: 16px;">newsletter</h1>
            <input type="text" placeholder="Your email"
                style="padding: 10px 50px 10px 50px; border-radius: 10px;border: 1px solid rgb(236, 234, 234);">
            <button
                style="padding: 10px 25px 10px 25px ; border-radius: 10px; margin-left: 15px; background-color: #11768f; color: #fff; border: 1px solid #11768f;">Subscribe</button>
            <p style="margin-top: 10px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
                Nullam tincidunt erat enim.
            </p>
        </div>

    </div>
    <hr>
    <footer>
        <h1>@ 2024-Blogy-Designed & Develop by Mahendra</h1>
        <img src="./assets/media-icons/images.jpg" alt="" width="300px">
    </footer>


</div>